/* ========== Kleurenpalet ========== */
:root {
  --black: #000000;
  --white: #FFFFFF;
  --smoky-day: #A69F95;
  --steel: #7A7A7A;
  --midnight-pearl: #606B73;
}

html, body {
  height: 100%;
  margin: 0;
}

.navbar-dark .nav-link {
  color: var(--smoky-day);
}

.navbar-brand{
  padding: 0;
}

.navbar {
  padding: 0;
}

.logo-img {
  height: 100px;
  width: auto;
}

.navbar-dark .nav-link:hover,
.navbar-dark .nav-link.active {
  color: var(--white);
}

.lang {
  margin: 10px 0;
  font-weight: 600;
}

.bar {
  background: var(--smoky-day);
  height: 22px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 4px;
}

.bar > div {
  height: 100%;
  background: var(--midnight-pearl);
  transition: width 0.5s ease;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Poppins', sans-serif;
}

/* ====== Hoofdinhoud ====== */
.portfolio-card{
  border-radius: 12px;
  color: var(--black);
}

.about-card{
  border-radius: 12px;
  color: var(--black);
  padding: 2rem;
  min-height: 100%;
}

.section-title {
  font-weight: bold;
  color: var(--midnight-pearl);
}

.portfolio-image{
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.about-image{
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

#map {
  height: 400px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
  margin-top: 15px;
}

/* ====== Footer ====== */
.footer {
  background-color: var(--midnight-pearl);
  color: var(--white);
  margin-top: auto; /* duwt footer naar onderkant van scherm */
}

/* Horizontale scheidingslijn alleen op GSM */
.mobile-divider {
  width: 100%;
  height: 1px;
  background-color: var(--smoky-day);
  opacity: 0.5;
  margin: 20px 0;
}

@media (min-width: 993px) {
  .mobile-divider {
    display: none;
  }
}

@media (max-width: 767px) {
  .image-placeholder {
    height: 180px;
  }
}
